@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Roboto", sans-serif;
}

.card-style{
    @apply bg-[#a7a6cb] p-10 w-96 rounded-lg;
}
.card-posts{
    @apply bg-[#a7a6cb] p-5 w-96 rounded-lg;
}

.card-title{
    @apply text-2xl font-semibold text-[#1B1A55];
}

.card-posts:hover{
        transform: translateY(-5px) scale(1.005) translateZ(0);
        transition: 0.2s;
        box-shadow: 0 24px 36px rgba(0,0,0,0.11),
          0 24px 46px var(--box-shadow-color);
}